
.firma {
    left: 0;
    font-size: 20px;
    margin-top: 200px;
    text-align: left;
    page-break-inside: avoid;
}

br[style] {
    display:none;
}

#titulo{
    text-align: center;
    font-size: 17px;
    font-weight: bold;"
}

#logo{
    float: right;
    height : 93px;
    width : 76px;
    margin-right: 20px;
}

#tablaFor {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    text-align: center;
}

#tablaFor td{
    border: 1px solid #1E1E1E;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

#tablaFor th {
    border: 1px solid #1E1E1E;
    padding: 8px;
    text-align: center;
}

#tablaFor th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #1E1E1E;
    text-align: left;
    font-size: 14px;
}



